.slider-container {
  height: 600px;
  position: relative;
  transform: scale(0.8);
}

.slider {
  width: 700px;
  border-radius: 20px;
}
.slider-scrollable {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 0px;
  border-radius: 20px;
  max-height: 600px;
  .slider-slika {
    width: 100%;
  }
  .slider-ime,
  .slider-info,
  .slider-tech {
    width: 400px;
    // border: 2px solid red;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    padding-bottom: 5px;
  }
  .slider-tech {
    flex-direction: column;
    max-height: 200px;
    padding: 20px;

    .tech-lista {
      display: flex;
      flex-wrap: wrap;
    }
    .tech-lista-item {
      border: 2px solid rgb(120, 120, 120);
      border-radius: 12px;

      padding: 6px;
      margin-right: 6px;
      margin-top: 6px;
    }
  }
  .linkovi-container {
    padding: 15px;
    .connect-text {
      font-size: 20px;
    }
    .linkovi {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .linkedin,
      .github {
        width: 70px;
        height: 70px;
        margin-right: 30px;
      }
    }
  }
}
.slider-scrollable::-webkit-scrollbar {
  display: none;
}

.tinder-button-image {
  width: 100px;
  height: 50px;
}

.dugmad-slider {
  position: absolute;
  bottom: -80px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(120, 120, 120, 0);
  .tinder-dugme {
    width: 70px;
    height: 70px;
  }
  .false {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  main {
  border: 5px solid;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
}
}
