<div class="flex justify-center slider-container">
  <div class="rounded-lg shadow-lg bg-white max-w-sm slider">
    <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg slider-slika" src="{{currentUser.img}}" alt=""/>
    </a>
    <div class="">
      <h5 class="text-gray-900 text-xl font-medium mb-2">{{currentUser.userName}}</h5>
      <p class="text-gray-700 text-base mb-4">
        {{currentUser.info}}
      </p>
      <button type="button" class="tinder-dugme" (click)="connect()">Connect</button>
      <button type="button" class="tinder-dugme" (click)="next()">Next</button>
    </div>
  </div>
</div>
